<div class="maps-main">
  <h2>Healing Aroma</h2>
  <!-- form_withはデフォルトでremote: trueの挙動になります -->
  <%= form_with url: map_request_path, method: :get do |f|%>
    <%= f.text_field :address %>
    <%= f.submit '地図表示' %>
  <% end %>

  <div id="map">
  </div>

  <style>
  #map{
    height: 400px;
  }
  </style>
  <p>お問合せ</p>
  <p>〒959-2072</p>
  <p>新潟市西区上新栄町○○○○</p>
  <p>Phone:○○○-○○○‐○○○○</p>
</div>

<script>
  let mapInstance //この変数はmap.js.erbでも使うのでタイプミスに注意

  function initMap(){
    mapInstance = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 37.900, lng: 138.990},
    zoom: 15
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMi15weT91nKVNN3WA8GG9f4sPcLnpIms&callback=initMap" async defer></script>