<% provide(:title, "Menu") %>
<div class="menu-main">
  <body>
    <h1>リラクゼーションメニュー</h1>
    <dl>
      <dt>リフレクソロジー</dt>
      <dd>【足つぼ・・・６０分】ー5,000円</dd>

      <dt>ボディコース</dt>
      <dd>【全身もみほぐし・・・６０分】ー6,000円</dd>

      <dt>リンパアロマコース</dt>
      <dd>【リンパアロマ・・・６０分】ー 6,000円</dd>

      <dt>カウンセリングコース</dt>
      <dd>【カウンセリング + セラピー・・・６０分】 ー 8,000円</dd>
    </dl>

    <h2>アロマセレクト</h2>
      <ul><strong>リラックス</strong>・・疲労感、精神不安・不眠(ベルガモット、スペアミント、ネロリ,イランイラン、ペティバー)</ul>
      <ul><strong>リフレッシュ</strong>・・緊張の緩和・やる気・集中力のアップ(レモン、ペパーミント、ローズマリー、レモングラス)</ul>
      <ul><strong>アンチエイジング</strong>・・免疫力アップ・日焼け・美白・シミ・シワ対策(ラベンダー、ローズ、フランキンセンス)</ul>
      <ul>※その他、カウンセリングコースではお客様の状況にマッチしたアロマのご相談をさせて頂きます。</ul>  
    
    <p>
      ユーザー登録がまだの場合は<%= link_to "こちら", signup_path %>
    </p>
    
  </body>
</div>

